* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box1 {
    height: 300px;
    width: 500px;
    background-color: blueviolet;
    margin: 20px;
}

.box1:hover {
    background-color: rgb(169, 128, 207);
}