* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.class1 {
    height: 30px;
    width: 400px;
    background-color: aqua;
}

.class2 {
    height: 30px;
    width: 400px;
    background-color: yellow;
}